.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 700px;
  height: 500px;
  display: block;
  background: #dcdcdc;
  margin-right: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  overflow-y: scroll;
}

.wrap {
  padding: 10px;
  border: 1px solid red;
}
